jupyter_core==5.6.1
jupyterhub==3.*
jupyterlab==3.*
lc_multi_outputs @ https://github.com/NII-cloud-operation/Jupyter-multi_outputs/releases/download/2.2.0.rc3/lc_multi_outputs-2.2.0.rc3.tar.gz#sha256=c8574cc9f21f469fa163d44987884732b99b047673782dcf804386e553c574cf
lc_wrapper @ git+https://github.com/NII-cloud-operation/Jupyter-LC_wrapper.git@cde2b920e86c19656af61e907a77f2a11ae947d2
nbclassic==1.*
nblineage @ https://github.com/NII-cloud-operation/Jupyter-LC_nblineage/releases/download/0.2.0.rc1/nblineage-0.2.0.rc1.tar.gz#sha256=83c72f47fba076f382578d39a5d2622054546ad8f8ad80a91a37aabd5dbf6f55
notebook==6.*
scipy==1.16.*
seaborn==0.13.*
